<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8" />
	<title>物业费缴纳</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="${ctx.contextPath}/static/css/cui.css" />
	<link rel="stylesheet" href="${ctx.contextPath}/static/css/lib.css" />
	<link rel="stylesheet" href="${ctx.contextPath}/static/css/slick.css" />
	<link rel="stylesheet" href="${ctx.contextPath}/static/css/style.css" />

    <link rel="stylesheet" href="${ctx.contextPath}/static/css/mescroll.min.css" />

    <script src="${ctx.contextPath}/static/js/jquery.min.js"></script>
    <script src="${ctx.contextPath}/static/js/lib.js"></script>
    <script src="${ctx.contextPath}/static/js/mescroll.min.js"></script>
    <script src="${ctx.contextPath}/static/layer/layer.js"></script>



</head>
<body>
    
    <!-- 头部 -->
	
    <!-- 头部 end-->
    
    <!-- 主内容 -->
    <div class="main">
        <ul class="ul-q1 TAB_CLICK" id=".tab01">
            <li class="on"><a href="javascript:;">本期待缴账单</a></li>
            <li><a href="javascript:;">逾期未缴账单</a></li>
            <li><a href="javascript:;">缴费记录</a></li>
        </ul>
        <!--<p>${appSecret!}</p>-->
        <div class="tab01 mescroll"    id="currentMescroll" >
            <ul class="ul-q2 bq">
                <!--<li>-->
                    <!--<div class="top">-->
                        <!--<h3>创意中央 1栋 301</h3>-->
                    <!--</div>-->
                    <!--<div class="txt">-->
                        <!--<span style="width: max-content"><em>￥</em>15000</span><i class="i1">未缴纳</i>-->
                    <!--</div>-->
                    <!--<p>2018.01.01-2018.12.31</p>-->
                <!--</li>-->
            </ul>

        </div>
        <div class="tab01 dn mescroll"    id="overDueMescroll">
        <ul class="ul-q2 yq">
                <!--<li>-->
                    <!--<div class="top">-->
                        <!--<h3>创意中央 1栋 301</h3>-->
                    <!--</div>-->
                    <!--<div class="txt">-->
                        <!--<span><em>￥</em>15050</span>-->
                        <!--<i class="i2">含滞纳金50元</i>-->
                    <!--</div>-->
                    <!--<p>2018.01.01-2018.12.31</p>-->
                <!--</li>-->

            </ul>
        </div>
        <div class="tab01 dn mescroll" id="historyMescroll">
            <ul class="ul-q2 ls">
                <!--<li>-->
                    <!--<div class="top">-->
                       <!--<span>2018.01.01</span><h3>创意中央 1栋 301</h3>-->
                    <!--</div>-->
                    <!--<div class="txt">-->
                        <!--<span><em>￥</em>15050</span>-->
                        <!--<i class="i2">含滞纳金50元</i><i class="i3">结清</i>-->
                    <!--</div>-->
                    <!--<p>2018.01.01-2018.12.31</p>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <!-- 主内容 end-->


    <script type="text/javascript">
        var enterpriseId = '${userInfo.enterpriseId}';
        var tel = '${userInfo.tel}';
        var userId = '${userInfo.userId}';

        $(function(){
            //创建MeScroll对象
            var currMescroll = new MeScroll("currentMescroll", {
                down: {
                    auto: false, //是否在初始化完毕之后自动执行下拉回调callback; 默认true
                    callback: currDownCallback //本期账单 下拉刷新的回调
                },
                up: {
                    auto: true, //是否在初始化时以上拉加载的方式自动加载第一页数据; 默认false
                    isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
                    callback: currUpCallback, //本期账单 上拉回调,此处可简写; 相当于 callback: function (page) { upCallback(page); }
                    toTop:{ //配置回到顶部按钮
                        src : "../res/img/mescroll-totop.png", //默认滚动到1000px显示,可配置offset修改
                        //offset : 1000
                    }
                }
            });

            //创建MeScroll对象
            var overDueMescroll = new MeScroll("overDueMescroll", {
                down: {
                    auto: false,
                    callback: overDownCallback //逾期账单 下拉刷新的回调
                },
                up: {
                    auto: true, //是否在初始化时以上拉加载的方式自动加载第一页数据; 默认false
                    isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
                    callback: overUpCallback, //本期账单 上拉回调,此处可简写; 相当于 callback: function (page) { upCallback(page); }
                    toTop:{ //配置回到顶部按钮
                        src : "../res/img/mescroll-totop.png", //默认滚动到1000px显示,可配置offset修改
                        //offset : 1000
                    }
                }
            });

            //创建MeScroll对象
            var historyMescroll = new MeScroll("historyMescroll", {
                down: {
                    auto: false,
                    callback: historyDownCallback //历史账单 下拉刷新的回调
                },
                up: {
                    auto: true, //是否在初始化时以上拉加载的方式自动加载第一页数据; 默认false
                    isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
                    callback: historyUpCallback, //历史账单 上拉回调,此处可简写; 相当于 callback: function (page) { upCallback(page); }
                    toTop:{ //配置回到顶部按钮
                        src : "../res/img/mescroll-totop.png", //默认滚动到1000px显示,可配置offset修改
                        //offset : 1000
                    }
                }
            });


            /**********************************历史的操作**************************************/

            /*下拉刷新的回调 */
            function historyDownCallback(){
                //联网加载数据
                getListDataFromNet(0, 1,3,enterpriseId, function(data){
                    //联网成功的回调,隐藏下拉刷新的状态
                    historyMescroll.endSuccess();
                    //设置列表数据
                    setHistoryListData(data, false);
                }, function(){
                    //联网失败的回调,隐藏下拉刷新的状态
                    historyMescroll.endErr();
                });
            }

            function historyUpCallback(page){
                //联网加载数据
                getListDataFromNet(page.num, page.size,3,enterpriseId, function(curPageData){
                    historyMescroll.endByPage(curPageData.rows.length, curPageData.total); //必传参数(当前页的数据个数, 总页数)
                    //设置列表数据
                    setHistoryListData(curPageData.rows, true);
                }, function(){
                    //联网失败的回调,隐藏下拉刷新和上拉加载的状态;
                    historyMescroll.endErr();
                });
            }


            /*设置列表数据*/
            function setHistoryListData(rows, isAppend) {
                // var listDom=document.getElementById("newsList");
                var listDom=document.getElementsByClassName("ul-q2 ls")[0];

                for (var i = 0; i < rows.length; i++) {
                    var newObj=rows[i];

                    var str = '<div class="top"><span>' +  newObj.settledDate  +'</span><h3>' + newObj.buildingName + ' ' + newObj.roomNumber + '</h3></div>';
                    str+='<div class="txt">' + '<span><em>￥</em>' + newObj.primeAmount + '</span>';
                    if(newObj.overDueFineTheoryAmount > 0){
                        str += '<i class="i2">' + '含滞纳金' + newObj.overDueFineTheoryAmount + '元</i>';
                    }
                    if (newObj.settleStatus === 'PART_SETTLE'){
                        str+='<i class="i1">部分结清</i></div><p>'+ newObj.startDate + ' - ' + newObj.endDate + '</p>';
                    }else {
                        str+='<i class="i3">结清</i></div><p>'+ newObj.startDate + ' - ' + newObj.endDate + '</p>';
                    }

                    var liDom=document.createElement("li");
                    liDom.innerHTML=str;

                    if (isAppend) {
                        listDom.appendChild(liDom);//加在列表的后面,上拉加载
                    } else{
                        listDom.insertBefore(liDom, listDom.firstChild);//加在列表的前面,下拉刷新
                    }
                }
            }

            /**********************************历史的操作**************************************/

            /**********************************本期账单的操作**************************************/

            /*下拉刷新的回调 */
            function currDownCallback(){
                //联网加载数据
                getListDataFromNet(0, 1, 1 ,enterpriseId, function(data){
                    //联网成功的回调,隐藏下拉刷新的状态
                    currMescroll.endSuccess();
                    //设置列表数据
                    setCurrListData(data, false);
                }, function(){
                    //联网失败的回调,隐藏下拉刷新的状态
                    currMescroll.endErr();
                });
            }

            /*上拉加载的回调 page = {num:1, size:10}; num:当前页 从1开始, size:每页数据条数 */
            function currUpCallback(page){
                //联网加载数据
                getListDataFromNet(page.num, page.size,1,enterpriseId, function(curPageData){
                    //联网成功的回调,隐藏下拉刷新和上拉加载的状态;
                    //mescroll会根据传的参数,自动判断列表如果无任何数据,则提示空;列表无下一页数据,则提示无更多数据;
                    console.log("page.num="+page.num+", page.size="+page.size+", curPageData.length="+curPageData.rows);

                    //方法一(推荐): 后台接口有返回列表的总页数 totalPage
                    currMescroll.endByPage(curPageData.rows.length, curPageData.total); //必传参数(当前页的数据个数, 总页数)

                    //方法二(推荐): 后台接口有返回列表的总数据量 totalSize
                    //mescroll.endBySize(curPageData.length, totalSize); //必传参数(当前页的数据个数, 总数据量)

                    //方法三(推荐): 您有其他方式知道是否有下一页 hasNext
                    //mescroll.endSuccess(curPageData.length, hasNext); //必传参数(当前页的数据个数, 是否有下一页true/false)

                    //方法四 (不推荐),会存在一个小问题:比如列表共有20条数据,每页加载10条,共2页.如果只根据当前页的数据个数判断,则需翻到第三页才会知道无更多数据,如果传了hasNext,则翻到第二页即可显示无更多数据.
                    // mescroll.endSuccess(curPageData.length);

                    //提示:curPageData.length必传的原因:
                    // 1.判断是否有下一页的首要依据: 当传的值小于page.size时,则一定会认为无更多数据.
                    // 2.比传入的totalPage, totalSize, hasNext具有更高的判断优先级
                    // 3.使配置的noMoreSize生效

                    //设置列表数据
                    setCurrListData(curPageData.rows, true);
                }, function(){
                    //联网失败的回调,隐藏下拉刷新和上拉加载的状态;
                    currMescroll.endErr();
                });
            }


            /*设置列表数据*/
            function setCurrListData(rows, isAppend) {
                // var listDom=document.getElementById("newsList");
                var listDom=document.getElementsByClassName("ul-q2 bq")[0];

                for (var i = 0; i < rows.length; i++) {
                    var newObj=rows[i];

                    var str = '<div class="top">' + '<h3>' + newObj.buildingName + ' ' + newObj.roomNumber + '</h3></div>';
                    str+='<div class="txt">' + '<span><em>￥</em>' + newObj.primeAmount + '</span><i class="i1">未缴纳</i></div>'
                    str+='<p>'+ newObj.startDate + ' - ' + newObj.endDate + '</p>';

                    var liDom=document.createElement("li");
                    liDom.innerHTML=str;

                    if (isAppend) {
                        listDom.appendChild(liDom);//加在列表的后面,上拉加载
                    } else{
                        listDom.insertBefore(liDom, listDom.firstChild);//加在列表的前面,下拉刷新
                    }
                }
            }
            /**********************************本期账单的操作**************************************/


            /**********************************逾期的操作**************************************/

            /*下拉刷新的回调 */
            function overDownCallback(){
                //联网加载数据
                getListDataFromNet(0, 1,2,enterpriseId, function(data){
                    //联网成功的回调,隐藏下拉刷新的状态
                    overDueMescroll.endSuccess();
                    //设置列表数据
                    setOverDueListData(data, false);
                }, function(){
                    //联网失败的回调,隐藏下拉刷新的状态
                    overDueMescroll.endErr();
                });
            }

            function overUpCallback(page){
                //联网加载数据
                getListDataFromNet(page.num, page.size,2,enterpriseId, function(curPageData){
                    overDueMescroll.endByPage(curPageData.rows.length, curPageData.total); //必传参数(当前页的数据个数, 总页数)
                    //设置列表数据
                    setOverDueListData(curPageData.rows, true);
                }, function(){
                    //联网失败的回调,隐藏下拉刷新和上拉加载的状态;
                    overDueMescroll.endErr();
                });
            }


            /*设置列表数据*/
            function setOverDueListData(rows, isAppend) {
                // var listDom=document.getElementById("newsList");
                var listDom=document.getElementsByClassName("ul-q2 yq")[0];

                for (var i = 0; i < rows.length; i++) {
                    var newObj=rows[i];

                    var str = '<div class="top">' + '<h3>' + newObj.buildingName + ' ' + newObj.roomNumber + '</h3></div>';
                    str+='<div class="txt">' + '<span><em>￥</em>' + newObj.primeAmount + '</span>';
                    if(newObj.overDueFineTheoryAmount > 0){
                        str += '<i class="i2">' + '含滞纳金' + newObj.overDueFineTheoryAmount + '元</i>';
                    }
                    str+='</div><p>'+ newObj.startDate + ' - ' + newObj.endDate + '</p>';

                    var liDom=document.createElement("li");
                    liDom.innerHTML=str;

                    if (isAppend) {
                        listDom.appendChild(liDom);//加在列表的后面,上拉加载
                    } else{
                        listDom.insertBefore(liDom, listDom.firstChild);//加在列表的前面,下拉刷新
                    }
                }
            }

            /**********************************逾期的操作**************************************/


            var downIndex=0;
            function getListDataFromNet(pageNum,pageSize,type,enterpriseId,successCallback,errorCallback) {
                var billType='wy';
                var currUrl = "/payment/bill/listCurrentPage";
                var overUrl = "/payment/bill/listOverduePage";
                var historyUrl = "/payment/bill/listHistoryPage";
                var url = currUrl;
                if (type == 2){
                    url = overUrl;
                }else if (type == 3){
                    url = historyUrl;
                }
                //延时一秒,模拟联网
                setTimeout(function () {
                    try{
                        $.ajax({
                            type: "get",
                            url: url,
                            data: {
                                "pageFrom": pageNum,
                                "pageSize": pageSize,
                                "tenantId": enterpriseId,
                                "billType":billType
                            },
                            dataType: "JSON",
                            success: function(result) {
                                console.log(result);
                                if (result.code !== 200){
                                    layer.open({
                                        content: result.message
                                        ,skin: 'msg'
                                        ,time: 1 //2秒后自动关闭
                                    });
                                    errorCallback&&errorCallback();
                                }
                                //联网成功的回调
                                successCallback&&successCallback(result.data);
                            }
                        })

                    }catch(e){
                        //联网失败的回调
                        errorCallback&&errorCallback();
                    }
                },500)
            }
        });

    </script>
    <!-- 底部 -->

	
</body>
</html>