<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.iworkgo.payment.mapper.BillMapper">
    <resultMap id="BaseResultMap" type="com.yk.iworkgo.payment.entity.Bill" >
        <id column="billId" property="billId" jdbcType="BIGINT" />
        <result column="billType" property="billType" jdbcType="VARCHAR" />
        <result column="primeAmount" property="primeAmount" jdbcType="DECIMAL" />

        <result column="overDueFineTheoryAmount" property="overDueFineTheoryAmount" jdbcType="DECIMAL" />
        <result column="actualAmount" property="actualAmount" jdbcType="DECIMAL" />
        <result column="buildingName" property="buildingName" jdbcType="VARCHAR" />
        <result column="roomNumber" property="roomNumber" jdbcType="VARCHAR" />
        <result column="overDueFineStatus" property="overDueFineStatus" jdbcType="VARCHAR" />

        <result column="dueStatusName" property="dueStatusName" jdbcType="VARCHAR" />
        <result column="settleStatus" property="settleStatus" jdbcType="VARCHAR" />
        <result column="settleStatusName" property="settleStatusName" jdbcType="VARCHAR" />
        <result column="startDate" property="startDate" jdbcType="TIMESTAMP" />
        <result column="endDate" property="endDate" jdbcType="TIMESTAMP" />
        <result column="isDel" property="isDel" jdbcType="INTEGER" />
    </resultMap>

    <sql id="selectSql">
        FROM
        t_bill
        WHERE
        objectType = 'CONTRACT'
        AND expiredDay > 0
        <choose>
            <when test="cond.billType=='zj'">
                and billType LIKE '%租金%'
            </when>
            <otherwise>
                and billType LIKE '%物业%'
            </otherwise>
        </choose>

        AND closedStatus = 'NORMAL'
        AND settleStatus IN ("IN_PROCESS", "PART_SETTLE")
        <if test="cond.tenantId != null and cond.tenantId != ''">
            and tenantId = #{cond.tenantId}
        </if>

    </sql>


    <select id="getCurrentBillS" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT b.*
        FROM (
            SELECT objectId,
			MIN(expiredDay) AS expiredDay
            <include refid="selectSql" />
			GROUP BY
			objectId
	    ) a
        INNER JOIN (
        SELECT *
        <include refid="selectSql" />
        ) b ON a.objectId = b.objectId
        AND a.expiredDay = b.expiredDay
        ORDER BY
        b.expiredDay ASC
    </select>

    <select id="getOverdueBillS" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        t_bill
        WHERE
        objectType = 'CONTRACT'
        <![CDATA[ AND expiredDay < 0 ]]>
        <choose>
            <when test="cond.billType=='zj'">
                and billType LIKE '%租金%'
            </when>
            <otherwise>
                and billType LIKE '%物业%'
            </otherwise>
        </choose>
        AND closedStatus = 'NORMAL'
        AND settleStatus IN ("IN_PROCESS", "PART_SETTLE")
        <if test="cond.tenantId != null and cond.tenantId != ''">
            and tenantId = #{cond.tenantId}
        </if>
        ORDER BY expiredDay asc
    </select>

    <select id="getHistoryBillS" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        t_bill
        WHERE
        objectType = 'CONTRACT'
        <choose>
            <when test="cond.billType=='zj'">
                and billType LIKE '%租金%'
            </when>
            <otherwise>
                and billType LIKE '%物业%'
            </otherwise>
        </choose>
        AND closedStatus = 'NORMAL'
        AND settleStatus IN ("FINISH", "PART_SETTLE")
        <if test="cond.tenantId != null and cond.tenantId != ''">
            and tenantId = #{cond.tenantId}
        </if>
        ORDER BY settledDate desc
    </select>

</mapper>
